{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SaaS Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static "main/css/main.css" %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box">
                    <div class="h1 text-center">Login</div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <p class="text-muted"> Please enter your login and password!</p>
                        {% endif %}
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                               maxlength="150" required="" id="id_username" placeholder="Username">
                        <input type="password" name="password" autocomplete="current-password" required=""
                               id="id_password" placeholder="Password">
                        <a class="forgot text-muted" href="#">Forgot password?</a>
                        <input type="submit" name="" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>